extends layout

block head
  title View mapping #{mapping.from}

block content
  h1 Mapping #{mapping.from}

  ul
    li Mapping link: 
      strong #{host}/#{mapping.from}
    li Redirects to 
      a(href=mapping.to, target='_blank') #{mapping.to}
    // That's an ugly to do it but it works and no time to do better
    li Created by #{mapping.creator} on #{mapping.createdAt.toDateString()} at #{mapping.createdAt.toTimeString().match(/[^ ]+/g)[0]} (#{mapping.createdAt.toTimeString().match(/[^ ]+/g)[1]})
    li Clicks: #{mapping.clicks}
      ul
        each val in sources
          li #{val.domain}: #{val.clicks}
        li
          em Unknown source: #{sourceUnknown}
