extends layout

block head
  title View mapping #{mapping.from}

block content
  h1 Mapping #{mapping.from}

  ul
    li Mapping link: 
      strong #{host}/#{mapping.from}
    li Redirects to 
      a(href=mapping.to, target='_blank') #{mapping.to}
